/* import de fuente rubik de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

/* import de variables de css */
@import './variables.css';
/* import de componentes del sitio */
@import './components/custom-classes.css';
@import './components/header.css';
@import './components/support.css';
@import './components/buttons.css';
@import './components/loader.css';
@import './components/card.css';
@import './components/form.css';
@import './components/footer.css';
@import './components/socials.css';
@import './components/modal.css';
/* import de las secciones del sitio */
@import './sections/hero.css';
@import './sections/info.css';
@import './sections/huespedes.css';
@import './sections/adopt.css';
@import './sections/animals.css';
@import './sections/animal-profile.css';
@import './sections/shop.css';
@import './sections/contact.css';
@import './sections/pageNotFound.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    overflow-x: hidden;
    min-height: 100vh;
    font-size: 16px;
    font-family: var(--fontFamily);
}