.shop {
    padding: 3rem 1rem;
}

.shop__title {
    font-size: 2.625rem;
}

.shop__desc {
    width: 100%;
    line-height: 120%;
    margin: 1rem 0;
}

.shop__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
}

.shop__grid-item {
    padding: 1rem;
    border: 1px solid var(--gray);
    border-radius: var(--radius);
}

.shop__grid-item__img {
    width: 12rem;
    height: 12rem;
    margin-bottom: 1rem;
}
.shop__grid-item__img img {
    width: 100%;
    object-fit: cover;
}

.shop__grid-item span {
    display: block;
    margin: .5rem 0;
    font-size: 1.5rem;
}

.shop__grid-item__footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

@media (min-width: 640px) {
    .shop__grid {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
}

@media (min-width: 768px) {
    .shop {
        padding: 2rem 3rem;
    }
    .shop__desc {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .shop {
        padding: 2rem 6rem;
    }
}