.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(10px);
    z-index: 10;
    place-items: center;
    display: none;
}

.modal__content {
    background-color: var(--white);
    padding: 2rem;
    border-radius: var(--radius);
    min-width: 35%;
}